* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: #38c4be;
    --color2: #383838;
    --color3: #eeefff;
    --color4: #258682;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color3);
}
/* Header style start */
header {
    background-color: var(--color2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 25px 7px 0;
}
header h1 {
    font-weight: bold;
    margin: 0;
    border: 0;
    padding: 5px 15px 5px 60px;
    border-radius: 0 5px 5px 0;
    background-color: var(--color1);
    line-height: 1.3;
}    
header h1 a {
    text-decoration: none;
    color: var(--color2);
    font-size: 36px;
}
header nav {
    margin: 7px 25px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    margin: 5px 7px;
    border-bottom: 3px solid var(--color1);
}
header nav ul li a {
    margin: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    color: var(--color1);  
}
/* Header Style End */
/* Hero Style Start */
.hero {
    position: relative;
}
.hero-image {
    width: 100%;
}
.hero-text {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color1);
    color: var(--color2);
}
/* Hero Style End */
/* Section style start */
body {
    background-color: var(--color3);
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
}
.section-title {
    display:flex;
    margin: 20px 20px 0 20px;
    justify-content: flex-end;
    text-align: right;
    color: var(--color2);
    font-size: 28px;
    width: 15%;
}
.section-title h2 span {
    display: block;
}
.right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0 0;
    padding: 0 30px;
    border-left: 4px solid var(--color2);
    line-height: 1.7;
    font-size: 20px;
    text-align: justify;
    width: 75%;
}
.work-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}    
.work-secondary {
        display: flex;
        flex-wrap: wrap;
        width: 49%;
        position: relative;
        margin-bottom: 20px;
}
.image-title {
    position: absolute;
    bottom: 5vw;
    left: 0;
    background-color: var(--color1);
    color: var(--color2);
    padding: 1.5vw 3.0vw;
    text-align: left;
    border-radius: 0 1.5vw 1.5vw 0;
}
.image-title h3{
    font-size: 1.8vw;
    font-weight: bold;
    line-height: 1.2;
}
.image-title h4{
    font-size: 1.0vw;
}
.image {
    width: 100%;
    border: 4px solid var(--color1);    
}
/* Section style end */
/* footer style start*/
.contacts {
    justify-content: space-around;
}
.contact-me {
    display: flex;
}
.contact-me a {
    text-decoration: none;
    color: var(--color2);
    font-size: 24px;
    line-height: 1.5;
    padding: 0;
    border-bottom: 3px solid var(--color2);
    margin-bottom: 15px;
}
/* footer section end */
/* pseudo (hover) style start */
header nav ul li:hover {
    border-color: var(--color4);
}
header nav ul li:hover > #hover {
    color: var(--color4);
}
.work-main a:hover {
    opacity: 0.8;
}
.work-secondary a:hover {
    opacity: 0.8;
}
.contact-me a:hover {
    color: blue;
    border-color: blue;
}
/* pseudo (hover) style end */
/* Media query for smaller desktops screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding: 0;
    }
    header h1 a {
        font-size: 28px;
    }
    header nav ul li a {
        font-size: 18px;
    }
    .hero-image {
        height: 300px;
        object-fit: cover;
        max-width: 100%; 
    }
    .hero-text {
        right: 5%;
        width: 30%;
        font-size: 1.5vw;
    }
    .section-title {
        font-size: 22px;
    }
    .contact-me a {
        font-size: 18px; 
    }
    .right-section {
        font-size: 14px;
    }
}
/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    header h1 {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 5px 0;
        text-align: center;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        justify-content: space-evenly;
    }
    .section-title {
        justify-content: center;
        padding-bottom: 5px;
        border-bottom: 3px solid var(--color2);
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
    .section-title h2 span {
        display: inline;
    }
    .right-section {
        border: 0;
        width: 100%;
        margin: 15px 0 0 0;
        padding: 0 20px;
    }
    .work-main, .work-secondary{
        margin-bottom: 10px;
    }
    .image-title h3{
        font-size: 4.0vw;
        line-height: 1.5;
    }
    .image-title h4{
        font-size: 2.5vw;
    }
    .contact-me a {
        font-size: 14px;
        border-bottom: 2px solid var(--color2);
    }
}
/* Media query for mobile phones and smaller */
@media screen and  (max-width: 575px) {   
    header h1 {
        padding: 0;
    }
    header h1 a {
        font-size: 24px;
    }
    header nav ul li a {
        font-size: 14px;
    }
    header nav {
        margin: 0;
    }
    header nav ul li {
        margin: 5px 0;
        border-bottom: 2px solid var(--color1);
    }
    .hero-text {
        right: 0;
        bottom: 1%;
        width: 100%;
        font-size: 3vw;
        border-radius: 0;
    }
    .section-title {
        font-size: 16px;
        border-bottom: 2px solid var(--color2);
    }
    .right-section {
        font-size: 12px;
    }
    .image-title {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }
    .image-title h3{
        font-size: 4.0vw;
        line-height: 1.5;
    }
    .image-title h4{
        font-size: 2.5vw;
    }
    .work-secondary {
        width: 100%;
    }
    .contact-me a {
        font-size: 10px;
    }
}


